<div class='text-center'>
  <%= content_tag :div, '', id: 'map', data: { map: 'home', 'catalog-path'=> search_catalog_path , 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap, leaflet_options: leaflet_options } %>
</div>

<div class='home-search-area'>
  <%= content_tag :h2, t('geoblacklight.home.headline') %>
  <!---<%= content_tag :h3, t('geoblacklight.home.search_heading') %>--->
    <div class='col-md-6 col-md-offset-3'>
      <%= render_search_form_no_navbar %>
    </div>
</div>

<div class='category-home'>
    <div class='col-md-12'>
      <%= content_tag :h3, t('geoblacklight.home.category_heading'), class: 'title-category-home' %>
      
      <div class='category-block'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-globe'></span>
        </div>
        <div class='panel panel-default facet_limit blacklight-dct_spatial_sm'>
          <h4 class="sr-only">Placename</h4>
          <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-dct_spatial_sm" aria-expanded="true">
            <h3 class="panel-title facet-field-heading">  
              <a data-no-turbolink="true" href="#">Placename</a>
            </h3>
          </div>
          <div id="facet-dct_spatial_sm" class="panel-collapse facet-content collapse in" aria-expanded="true">
            <div class="panel-body">  
              <ul class="facet-values list-unstyled">
                <%= render_facet_tags [Settings.FIELDS.SPATIAL_COVERAGE] %>
              </ul> 
            </div>
          </div>
        </div>
      </div>

      <div class='category-block'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-download'></span>
        </div>
        <div class='panel panel-default facet_limit blacklight-geom_type_sm'>
          <h4 class="sr-only">Data type</h4>
          <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-geom_type_sm" aria-expanded="true">
            <h3 class="panel-title facet-field-heading">  
              <a data-no-turbolink="true" href="#">Data type</a>
            </h3>
          </div>
          <div id="facet-geom_type_sm" class="panel-collapse facet-content collapse in" aria-expanded="true">
            <div class="panel-body">  
              <%= render_facet_tags [Settings.FIELDS.GEOM_TYPE] %>
            </div>
          </div>
        </div>
      </div>

      <div class='category-block'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-tags'></span>
        </div>
        <div class='panel panel-default facet_limit blacklight-subject_sm'>
          <h4 class="sr-only">Subject</h4>
          <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-subject_sm" aria-expanded="true">
            <h3 class="panel-title facet-field-heading">  
              <a data-no-turbolink="true" href="#">Subject</a>
            </h3>
          </div>
          <div id="facet-subject_sm" class="panel-collapse facet-content collapse in" aria-expanded="true">
            <div class="panel-body">  
              <%= render_facet_tags [Settings.FIELDS.SUBJECT] %>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div style="clear: both;"></div>
</div>

<br><hr/>

<div class="project container">
  <div class="col-md-4 box">
    <div class="sub-box" style="background: #08122D">
      <h1>GITHUB</h1>
      <span class="glyphicon glyphicon-tasks icon"></span>
      <a href="http://www.github.com/Pauliceia" target="_blank">More Info <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    </div>
  </div>
  <div class="col-md-4 box">
    <div class="sub-box" style="background: #0B1D4A">
      <h1>PORTAL</h1>
      <span class="glyphicon glyphicon-blackboard icon"></span>
      <a href="http://www.pauliceia.dpi.inpe.br/portal" target="_blank">More Info <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    </div>
  </div>
  <div class="col-md-4 box">
    <div class="sub-box" style="background: #0B1D6B">
      <h1>WIKI</h1>
      <span class="glyphicon glyphicon-info-sign icon"></span>
      <a href="http://www.pauliceia.dpi.inpe.br/wiki" target="_blank">More Info <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    </div>
  </div>
</div>